<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/entrance.css">
    <title>하늘 공방</title>
</head>
<body>
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup"><span>or</span>하늘 공방</h2>
            <div class="form-holder">
                <input type="text" class="input" placeholder="부서 ex)대3-1" />
                <input type="text" class="input" placeholder="구역 ex) 보배빛" />
                <input type="text" class="input" placeholder="이름 ex) 홍길동" />
                <input type="text" class="input" placeholder="고유번호 ex) 00300329-00056" />
                <input type="text" class="input" placeholder="이용목적 ex) 업무, 모임, 휴식 등" />
            </div>
            <button class="submit-btn">제출하기</button>
        </div>
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login"><span>or</span>건의사항</h2>
            </div>
        </div>
    </div>
</body>
</html>