<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/entrance.css">
        <title>하늘 공방</title>
    </head>
    <body>
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup"><span>or</span>하늘 공방</h2>
                <div class="form-holder">
                    <input id="department" type="text" class="input" placeholder="부서 ex)대3-1" />
                    <input id="area" type="text" class="input" placeholder="구역 ex) 보배빛" />
                    <input id="name" type="text" class="input" placeholder="이름 ex) 홍길동" />
                    <input id="uniqueNumber" type="text" class="input" placeholder="고유번호 ex) 00300329-00056" />
                    <input id="purpose" type="text" class="input" placeholder="이용목적 ex) 업무, 모임, 휴식 등" />
                </div>
                <button id="submitBtn" class="submit-btn">제출하기</button>
            </div>
            <div class="login slide-up">
                <div class="center">
                    <h3 class="form-title" id="login"><span>or</span>건의사항</h3>
                    <div class="form-holder">
                        <input id="sug_department" type="text" class="input" placeholder="부서 ex)대3-1" />
                        <input id="sug_name" type="text" class="input" placeholder="이름 ex) 홍길동" />
                        <textarea rows="0" id="sug_content" class="input" placeholder="내용" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
                                  style="resize: none; max-height: 150px"></textarea>
                    </div>
                    <button id="sug_submitBtn" class="submit-btn">제출하기</button>
                </div>
            </div>
        </div>
        <script src="../static/entrance.js"></script>
    </body>
</html>